<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="static/gopigoflask.js"></script>
<title>GoPiGo Rest Interface</title>
</head>
<body>
<table border="1">
<tr>
    <td><div id="leftledon" onclick='piCommand("/command/leftled_on");'>LEFT-LED ON</td>
    <td><div id="leftledon" onclick='piCommand("/command/leftled_off");'>LEFT-LED OFF</td>
    <td><div id="forward" onclick='piCommand("/command/forward");'>FORWARD</div></td>
    <td><div id="rightledoff" onclick='piCommand("/command/rightled_off");'>RIGHT-LED ON</td>
    <td><div id="leftledon" onclick='piCommand("/command/rightled_on");'>RIGHT-LED ON</td>
</tr>
<tr>
    <td><div id="left_rotate" onclick='piCommand("/command/left_rot");'>LEFT ROTATE</div></td>
    <td><div id="left" onclick='piCommand("/command/left");'>LEFT</div></td>
    <td><div id="stop" onclick='piCommand("/command/stop");'>STOP</div></td>
    <td><div id="right" onclick='piCommand("/command/right");'>RIGHT</div></td>
    <td><div id="right" onclick='piCommand("/command/right_rot");'>RIGHT ROTATE</div></td>
</tr>
<tr>
    <td></td>
    <td></td>
    <td><div id="back" onclick='piCommand("/command/back");'>BACK</div></td>
    <td></td>
    <td></td>
</tr>
</table>
</body>
</html>

