<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="static/gopigoflask.js"></script>
<title>GoPiGo Rest Interface</title>
</head>
<body>
<table border="1">
<tr>
    <td><div id="leftledon" onclick='gopigo.leftled_on();'>LEFT-LED ON</td>
    <td><div id="leftledon" onclick='gopigo.leftled_off();'>LEFT-LED OFF</td>
    <td><div id="forward" onclick='gopigo.fwd();'>FORWARD</div></td>
    <td><div id="rightledoff" onclick='gopigo.rightled_off();'>RIGHT-LED ON</td>
    <td><div id="leftledon" onclick='gopigo.rightled_on();'>RIGHT-LED ON</td>
</tr>
<tr>
    <td><div id="left_rotate" onclick='gopigo.left_rot();'>LEFT ROTATE</div></td>
    <td><div id="left" onclick='gopigo.left();'>LEFT</div></td>
    <td><div id="stop" onclick='gopigo.stop();'>STOP</div></td>
    <td><div id="right" onclick='gopigo.right();'>RIGHT</div></td>
    <td><div id="right_rot" onclick='gopigo.right_rot();'>RIGHT ROTATE</div></td>
</tr>
<tr>
    <td></td>
    <td></td>
    <td><div id="back" onclick='gopigo.bwd();'>BACK</div></td>
    <td></td>
    <td></td>
</tr>
</table>
</body>
</html>

